<template>
	<section>
		<div>
			<h2>EDITAR USUARIO</h2> 
		</div>
		<section>
			<div>
				<label>Nombre</label>
				<input type="text" v-model="user.name">
			</div>
			<div>
				<label>Correo</label>
				<input type="text" v-model="user.email">
			</div>
			<div>
				<label>Contraseña</label>
				<input type="password" v-model="user.password">
			</div>
			<div>
				<button @click="edit">Editar</button>
				<button @click="close">Cancelar</button>
			</div>
		</section>			
	</section>
</template>

<script>
	export default {
		name: "user-edit-component",
		data() {
			return {				
				user 		:{
					name			:'',			
					email			:'',			
					password		:'',					
				}
			};
		},
		props: {
			base_url: {
				type: String,
				default: ''
			},
			userId: {
				type: Number,
				default: 0
			},
		},
		methods: {
			close: function () {
				this.$emit('onShowComponent', 'UserList')
			},	
			getUserById: function () {
				let that = this

				let headers = {
					headers: {
						"Conten-Type":  "application/json"
					}
				}

				let url = this.base_url + '/api/users/' + this.userId

				axios
					.get(url, headers)
					.then((response) => {
						
						if(response.data.type === 'success') {							
							that.user = response.data.data.user
						} else {
							alert(response.data.message)
						}

					})
					.catch((error) => {						
						alert(error.data.message)
					})
			},
			edit: function () {
				let that = this

				let headers = {
					headers: {
						"Conten-Type":  "application/json"
					}
				}

				let url = this.base_url + '/api/users/' + this.userId

				let data = {
					name	: this.user.name,
					email	: this.user.email,
					password	: this.user.password
				}

				axios
					.put(url, data, headers)
					.then((response) => {
						
						if(response.data.type === 'success') {
							alert(response.data.message)
							that.close()
						} else {
							alert(response.data.message)
						}

					})
					.catch((error) => {						
						alert(error.data.message)
					})
			}
		},
		mounted() {
			this.getUserById()
		}
	}
</script>