<template>
    <div>
        <section>
            <h1>Formulario de Ejemplo</h1>
        </section>

        <section>
            <div>
                <label>Nombres:</label>
                <input type="text" name="firstName" v-model="firstName">
            </div>
            <div>
                <label>Apellidos:</label>
                <input type="text" name="lastName" v-model="lastName" >
            </div>
            <div>
                <label>Email:</label>
                <input type="text" name="email" v-model="email">
            </div>
            <div>
                <button @click="submit">Enviar</button>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name:"example-component",
        data(){
            return{
                firstName: '',
                lastName: '',
                email: ''
            };
        },
        methods: {
            submit: function() {
                console.log("firstName", this.firstName)
                console.log("lastName", this.lastName)
                console.log("email", this.email)
            }
        }
    }
</script>

<!--
    *Template para la parte de la vista
    *Script para la parte del modelo
-->