<template>
	<section>
		<div>
			<h2>LISTADO DE PELICULAS</h2> 
		</div>
		<div>
			<article>				
				<div>
					<label>Nombre</label>
					<input type="text" name="name" v-model="name" @keyup.enter="search">
				</div>
				<div>
					<button @click="search">Buscar</button>
					<button @click="showComponent('MovieInsert')">Crear</button>
				</div>
				
			</article>

			<article>
				<table>					
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>						
						<tr v-for="movie in movieList">
							<td>{{ movie.name }}</td>
							<td>{{ movie.description }}</td>
							<td>{{ movie.status_id }}</td>
							<td>
								<button @click="showComponent('MovieEdit', movie.id)"> Editar</button>
								<button @click="deleteMovie(movie.id)"> Eliminar</button>
							</td>
						</tr>
					</tbody>
				</table>	
			</article>
		</div>			
	</section>
</template>

<script>
	export default {
		name: "movie-list-component",
		data() {
			return {
				name			:'',
				movieList 	:[],
			};
		},
		props: {
			base_url: {
				type: String,
				default: ''
			}
		},
		methods: {
			showComponent: function(component, id) {
				this.$emit('onShowComponent', component, id)
			},
			search: function() {
				let that = this

				let headers = {
					headers: {
						"Conten-Type":  "application/json"
					}
				}

				let url = this.base_url + '/api/movies?name=' + this.name

				axios
					.get(url, headers)
					.then((response) => {
						if(response.data.type === 'success') {
							that.movieList = response.data.data
						} else {
							alert(response.data.message)
						}

					})
					.catch((error) => {
						console.log(error)
					})
			},
			deleteMovie: function (id) {
				let that = this

				let headers = {
					headers: {
						"Conten-Type":  "application/json"
					}
				}

				let url = this.base_url + '/api/movies/' + id

				axios
					.delete(url, headers)
					.then((response) => {
						
						if(response.data.type === 'success') {							
							alert(response.data.message)
							that.search()
						} else {
							alert(response.data.message)
						}

					})
					.catch((error) => {						
						alert(error.data.message)
					})
			}
		}
	}
</script>