<template>
	<section>
		<div>
			<h2>EDITAR PELICULA</h2> 
		</div>
		<section>
			<div>
				<label>Nombre</label>
				<input type="text" v-model="movie.name">
			</div>
			<div>
				<label>Descripción</label>
				<textarea cols="30" rows="10" v-model="movie.description"></textarea> 
			</div>
			<div>
				<button @click="edit">Editar</button>
				<button @click="close">Cancelar</button>
			</div>
		</section>			
	</section>
</template>

<script>
	export default {
		name: "movie-edit-component",
		data() {
			return {				
				movie 		:{
					name: 	'',					
					description: 	'',					
				}
			};
		},
		props: {
			base_url: {
				type: String,
				default: ''
			},
			movieId: {
				type: Number,
				default: 0
			},
		},
		methods: {
			close: function () {
				this.$emit('onShowComponent', 'MovieList')
			},	
			getMovieById: function () {
				let that = this

				let headers = {
					headers: {
						"Conten-Type":  "application/json"
					}
				}

				let url = this.base_url + '/api/movies/' + this.movieId

				axios
					.get(url, headers)
					.then((response) => {
						
						if(response.data.type === 'success') {							
							that.movie = response.data.data.movie
						} else {
							alert(response.data.message)
						}

					})
					.catch((error) => {						
						alert(error.data.message)
					})
			},
			edit: function () {
				let that = this

				let headers = {
					headers: {
						"Conten-Type":  "application/json"
					}
				}

				let url = this.base_url + '/api/movies/' + this.movieId

				let data = {
					name	: this.movie.name,
					description	: this.movie.description
				}

				axios
					.put(url, data, headers)
					.then((response) => {
						
						if(response.data.type === 'success') {
							alert(response.data.message)
							that.close()
						} else {
							alert(response.data.message)
						}

					})
					.catch((error) => {						
						alert(error.data.message)
					})
			}
		},
		mounted() {
			this.getMovieById()
		}
	}
</script>